@model ProjectTask

@{
    ViewData["Title"] = "Task Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Task Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Task Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Project Name</dt>
        <dd class="col-sm-10">@Model.Project?.Name</dd>
    </dl>
</div>

<div>
    <a asp-controller="ProjectTask" asp-action="Edit" asp-route-id="@Model.ProjectTaskId" class="btn btn-primary">Edit</a>
    <a asp-controller="ProjectTask" asp-action="Index" asp-route-projectId="@Model.ProjectId" class="btn btn-secondary">Back to Task List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
    }
}
